.App {
  margin-top: 100px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.main-sudoku {

}

.variations {

}

h2 {
  margin-top: 0;
}
